.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0009;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999;

    .modal-content {
        background: url(../../assets/modal.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 8px;
        padding: 20px;
        min-width: 40vw;
        min-height: 40vh;
        position: relative;
        .modal-title {
            position: absolute;
            color: #f3a33c;
            font-size: 3vh;
            line-height: 3vh;
            top: 1.6vh;
            left: 50%;
            transform: translateX(-50%);
            font-weight: bold;
            text-shadow: .2vh .2vw .3vw #000000;
        }
        .modal-close {
            background: none;
            border: none;
            color: #333;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 10px;
            width: 3vw;
            height: 3vh;
            position: absolute;
            right: -44px;
            top: 12px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}