<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.screen.mapper.ScreenLeftTwoMapper">
    <select id="selectScreenLeftOneX" resultType="org.jeecg.modules.demo.screen.entity.ScreenLeftTwoX">
        SELECT title AS `name`, `sort` AS `value` FROM screen_left_two_type ORDER BY sort ASC;
    </select>
    <select id="selectScreenLeftOneY" resultType="org.jeecg.modules.demo.screen.entity.ScreenLeftTwoY">
        SELECT
            sdi.title AS xData,
            sm.title AS `name`,
            CONCAT(sm.color_one, ',', sm.color_two) AS colors,
            IFNULL(SUM(sd.value), 0) AS `value`
        FROM screen_left_two_type sdi
                 LEFT JOIN screen_left_two_data sd ON sdi.id = sd.class_name
                 LEFT JOIN screen_left_two_main sm ON sd.group_id = sm.id
        WHERE `type` = #{type}
        GROUP BY
            sdi.title, sm.title, sm.color_one, sm.color_two, sm.sort
        ORDER BY sm.sort ASC;
    </select>
</mapper>