<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.screen.mapper.ScreenCenterOneMapper">
    <select id="selectScreenCenterOne" resultType="org.jeecg.modules.demo.screen.entity.ScreenCenterOne">
        SELECT m.adcode,m.title,SUM(d.value) AS `value`,m.id
        FROM `screen_center_one_data` d
                 LEFT JOIN `screen_center_one_main` m
                           ON d.group_id = m.id
        GROUP BY m.adcode,m.id, m.title;
    </select>
</mapper>